#weather
    padding: 100px 0
    .box
        background-color: #A569BD
        padding: 30px
        border-radius: 20px
        .data
            h1,h2
                color: #ffff
                font-size: 25px
                margin-bottom: 20px
        input
            border-radius: 20px
            border: 2px solid #343e34
        #btn
            background-color: #659ff5
            padding: 10px
            margin: 18px
            border-radius: 20px
            color: #ffff
            &:hover
                cursor: pointer
                background-color: #5989d1

        ul
            display: flex
            justify-content: center
            li
                margin: 10px
                color: #ffff
                font-size: 32px
                margin-left: 15px
                .add1
                    color: #aed6f1
                .add2
                    color: #ffbf00
                .add3
                    color: #abb2b9
